<!-- components/form.html -->
<div class="">
  <h3 class="text-4xl font-bold text-green-950 mb-4 relative">Crop Care</h3>
  <p class="text-green-950">
    Access expert advice on how to take care of your crops. Find tips and best
    practices for various types of crops to ensure a healthy and bountiful
    harvest. Type crop name to explore crop care recommendations.
  </p>
  <p class=""></p>
  <form id="crop-care-form">
    <div class="h-16 mt-6 w-full relative overflow-hidden flex items-end">
      <input
        id="crop-name"
        class="w-full bg-lime-100 h-16 resize-none p-4 text-green-800 border-2 rounded-lg outline-none border-green-900"
        placeholder="Enter a Crop : "
      >
      <button
        class="absolute bottom-2 right-2 px-4 py-2 rounded bg-green-900 text-white"
      >
        Send
      </button>
    </div>
  </form>
</div>
