<!-- Modal -->
<div
  id="modal"
  class="fixed w-full h-screen inset-0 bg-black/50 backdrop-blur-sm hidden items-center z-[100] justify-center"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-80 mx-auto mt-20">
    <h2 class="text-xl font-bold text-green-900">Coming Soon</h2>
    <p class="mt-4 text-gray-700">Feature will be available soon.</p>
    <button
      onclick="closeModal()"
      class="mt-4 px-4 py-2 bg-green-900 text-white rounded-md"
    >
      Close
    </button>
  </div>
</div>